img {
  border-radius: 128px;
  width: 300;
  height: 300;
  top: 400px;
  position: absolute;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ff5600;
  max-width: max-content;
  position: absolute;
  top: 32px;
}
h2 {
  color: aliceblue;
  background-color: #ff5600;
  border: solid #000;
  border: rgb(158, 0, 0) 5px;
  max-width: max-content;
  position: absolute;
  top: 340px;
  font-family: "Baloo Bhai 2", cursive;
}

.logo {
  position: absolute;
  border-radius: 0px;
  right: 0px;

  top: 0px;
}
div {
  position: relative;
}

body {
  color: aliceblue;
  background-color: #fff7db;
}
