* {
    color: aliceblue;
}

#cartao {

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px  0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  
}

#nome {
  font-family: Oswald;
}

#instagram {
  color: black;
}

#twitter {
}

#youtube {
  padding-left: 0px;
}

#lista {
  list-style: none;
  padding: 0;
}
#lista li {
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#lista li i {
  margin-right: 10px;
  font-size: 1.6rem;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
}

#instagram i {
  background-color: rgb(226, 45, 32);
}

#twitter i {
  background-color: rgb(32, 132, 226);
}

#youtube i {
  background-color: rgb(224, 24, 24);
}

.linkinsta {
  text-decoration: none;
  color: white;
}

.linktwitter {
  text-decoration: none;
  color: white;
}

.linkyt {
  text-decoration: none;
  color: white;
}

body {
    
    background-color: black;
